target/
plugins/
!**/src/**/plugins/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### TEST ###
src/main/java/io/github/patbattb/plugins/manager/service/Test.java
